<div id="page-content-wrapper">
  <div class="item">

      <div class="collection-container collection-container-small first" >
          <a hred="#">
              <h3>MY</h3>
              <h3>COLLECTIONS</h3>
              <span>Organize, colaborate & share your resources</span>
          </a>
      </div>

      <div class="collection-container collection-container-small">
          <a hred="#">
              <div class="image-container" style="background-image: url('img/colection1.jpg'); "></div>
          </a>
      </div>

      <div class="collection-container collection-container-big">
          <a hred="#">
              <div class="image-container" style="background-image: url('img/colection2.jpg'); "></div>
          </a>
      </div>

      <div style="clear: both"></div>

  </div>

  <div class="item">

      <div class="collection-container collection-container-big">
          <a hred="#">
              <div class="image-container" style="background-image: url('img/colection2.jpg'); "></div>
          </a>
      </div>

      <div class="collection-container collection-container-small" >
          <div class="image-container" style="background-image: url('img/colection3.jpg'); "></div>
      </div>

      <div class="collection-container collection-container-small">
          <a hred="#">
              <div class="image-container" style="background-image: url('img/colection1.jpg'); "></div>
          </a>
      </div>

      <div style="clear: both"></div>

  </div>

  <div style="clear: both"></div>
</div>
