<!DOCTYPE html>
<html lang="en">
<head>
    <title>Collection | INDG Dam</title>
    <meta charset="utf-8">

    <!-- Bootstrap CSS lib -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="all" charset="utf-8">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./styles/main.css" media="screen" title="text/css" type="text/css" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-2.1.4.js" type="text/javascript"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body class="dashboard">
    <div id="page-content-wrapper">

        <div class="item">

            <div class="collection-container collection-container-small first" >
                <a hred="#">
                    <h3>MY</h3>
                    <h3>COLLECTIONS</h3>
                    <p>Organize, colaborate & share your resources</p>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">4 collections</span>
                </span>
            </div>

            <div class="collection-container collection-container-small">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection1.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-1">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>

            <div class="collection-container collection-container-big">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection2.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-1">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>


        </div>

        <div class="item">

            <div class="collection-container collection-container-big">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection2.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-2">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>

            <div class="collection-container collection-container-small" >
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection3.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-1">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>

            <div class="collection-container collection-container-small">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection1.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-2">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>


        </div>

        <div class="item">

            <div class="collection-container collection-container-small">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection3.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-1">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>

            <div class="collection-container collection-container-small">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection1.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-1">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>

            <div class="collection-container collection-container-big">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection2.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-1">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>


        </div>

        <div class="item">

            <div class="collection-container collection-container-big">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection2.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-2">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>

            <div class="collection-container collection-container-small" >
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection3.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-1">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>

            <div class="collection-container collection-container-small">
                <a hred="#">
                    <div class="image-container" style="background-image: url('img/colection1.jpg'); "></div>
                </a>
                <span class="item-count-container">
                    <span class="plus-sign">&#43;</span>
                    <span class="item-count">12 items</span>
                </span>
                <div class="overlay bg-2">
                    <h3>DA LIFESTYLE IMAGES 2015</h3>
                </div>
            </div>


        </div>

    </div>
</body>
</html>
