/** * Import Fonts * **/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,800italic,800");
/*** Open Sans ***/
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
/*** FontAwesome ***/
/* [END] Import Fonts */
/* SASS Variables */
/* Global variables */
/* End: Global variables */
/* Login Page Variables */
/* END Login Page Variables */
/* Home Page Variables */
/* END Home Page Variables */
/* Collection Page Variables */
/* END Collection Page Variables */
/* SASS Mixins */
/* End: SASS Mixins */
/* Home page styles */
html, body {
  height: 100%; }
  html .main-container, body .main-container {
    height: 100%;
    background-color: red;
    color: #d6d6d6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    html .main-container .top-nav-header, body .main-container .top-nav-header {
      background-color: #303030;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      min-height: 75px;
      padding-left: 30px; }
      html .main-container .top-nav-header .brand-logo, body .main-container .top-nav-header .brand-logo {
        -webkit-align-self: center;
        -moz-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        width: 35px;
        margin-left: 20%; }
      html .main-container .top-nav-header .user-profile-nav, body .main-container .top-nav-header .user-profile-nav {
        -webkit-align-self: center;
        -moz-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center; }
        html .main-container .top-nav-header .user-profile-nav .user-menu, html .main-container .top-nav-header .user-profile-nav .settings-menu, html .main-container .top-nav-header .user-profile-nav .search-menu, body .main-container .top-nav-header .user-profile-nav .user-menu, body .main-container .top-nav-header .user-profile-nav .settings-menu, body .main-container .top-nav-header .user-profile-nav .search-menu {
          position: relative; }
          html .main-container .top-nav-header .user-profile-nav .user-menu ul.dropdown-menu, html .main-container .top-nav-header .user-profile-nav .settings-menu ul.dropdown-menu, html .main-container .top-nav-header .user-profile-nav .search-menu ul.dropdown-menu, body .main-container .top-nav-header .user-profile-nav .user-menu ul.dropdown-menu, body .main-container .top-nav-header .user-profile-nav .settings-menu ul.dropdown-menu, body .main-container .top-nav-header .user-profile-nav .search-menu ul.dropdown-menu {
            border-radius: 0;
            min-width: 180px; }
            html .main-container .top-nav-header .user-profile-nav .user-menu ul.dropdown-menu::after, html .main-container .top-nav-header .user-profile-nav .settings-menu ul.dropdown-menu::after, html .main-container .top-nav-header .user-profile-nav .search-menu ul.dropdown-menu::after, body .main-container .top-nav-header .user-profile-nav .user-menu ul.dropdown-menu::after, body .main-container .top-nav-header .user-profile-nav .settings-menu ul.dropdown-menu::after, body .main-container .top-nav-header .user-profile-nav .search-menu ul.dropdown-menu::after {
              position: absolute;
              right: 25px;
              top: -9px;
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-bottom: 10px solid #ffffff;
              display: block;
              content: ''; }
            html .main-container .top-nav-header .user-profile-nav .user-menu ul.dropdown-menu li a, html .main-container .top-nav-header .user-profile-nav .settings-menu ul.dropdown-menu li a, html .main-container .top-nav-header .user-profile-nav .search-menu ul.dropdown-menu li a, body .main-container .top-nav-header .user-profile-nav .user-menu ul.dropdown-menu li a, body .main-container .top-nav-header .user-profile-nav .settings-menu ul.dropdown-menu li a, body .main-container .top-nav-header .user-profile-nav .search-menu ul.dropdown-menu li a {
              color: #303030; }
        html .main-container .top-nav-header .user-profile-nav .user-menu ul.dropdown-menu, body .main-container .top-nav-header .user-profile-nav .user-menu ul.dropdown-menu {
          left: -120px;
          top: 52px; }
        html .main-container .top-nav-header .user-profile-nav .settings-menu ul.dropdown-menu, body .main-container .top-nav-header .user-profile-nav .settings-menu ul.dropdown-menu {
          left: -128px;
          top: 46px; }
        html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu {
          padding: 30px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
          left: -225px;
          width: 300px;
          background-color: #67b5c3;
          margin: 0;
          border: 0; }
          html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; }
            html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row {
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              margin-bottom: 25px; }
              html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .glyphicon, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .glyphicon {
                margin-right: 20px;
                font-size: 2.3rem;
                color: #303030;
                padding-top: 16px; }
              html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-direction: normal;
                -webkit-box-orient: vertical;
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                width: 100%; }
                html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group input, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group input {
                  background-color: transparent;
                  border: 0;
                  outline: 0;
                  color: white;
                  margin-bottom: 20px;
                  border-bottom: 1px solid #303030;
                  padding: 16px 0; }
                html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group ::-webkit-input-placeholder, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group ::-webkit-input-placeholder {
                  color: #d6d6d6; }
                html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group :-moz-placeholder, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group :-moz-placeholder {
                  color: #d6d6d6; }
                html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group ::-moz-placeholder, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group ::-moz-placeholder {
                  color: #d6d6d6; }
                html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group :-ms-input-placeholder, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .form-row .inputs-group :-ms-input-placeholder {
                  color: #d6d6d6; }
            html .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .submit-search-button, body .main-container .top-nav-header .user-profile-nav .search-menu .dropdown-menu form .submit-search-button {
              background-color: transparent;
              padding: 15px;
              border: 1px solid #303030;
              color: #303030; }
        html .main-container .top-nav-header .user-profile-nav p, body .main-container .top-nav-header .user-profile-nav p {
          display: inline-block;
          margin: 0 20px 0 0; }
        html .main-container .top-nav-header .user-profile-nav img.user-profile-image, body .main-container .top-nav-header .user-profile-nav img.user-profile-image {
          border-radius: 50%;
          width: 35px;
          margin-right: 30px; }
        html .main-container .top-nav-header .user-profile-nav button, body .main-container .top-nav-header .user-profile-nav button {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          border: 0px;
          outline: 0px;
          font-size: 2.3rem; }
          html .main-container .top-nav-header .user-profile-nav button:hover, body .main-container .top-nav-header .user-profile-nav button:hover {
            color: white; }
        html .main-container .top-nav-header .user-profile-nav button.multi-search-button, body .main-container .top-nav-header .user-profile-nav button.multi-search-button {
          background-color: #67b5c3;
          padding: 26px; }
        html .main-container .top-nav-header .user-profile-nav button.user-settings-button, body .main-container .top-nav-header .user-profile-nav button.user-settings-button {
          margin-right: 30px;
          padding: 0;
          background-color: transparent; }
    html .main-container .app-container, body .main-container .app-container {
      background-color: red;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: none;
      flex-wrap: nowrap;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      align-items: stretch; }
      html .main-container .app-container .sidebar-menu, body .main-container .app-container .sidebar-menu {
        background-color: #303030;
        border-top: 1px solid #444444;
        width: 250px;
        font-size: 12px; }
        html .main-container .app-container .sidebar-menu .panel-group, body .main-container .app-container .sidebar-menu .panel-group {
          margin-left: 15px; }
          html .main-container .app-container .sidebar-menu .panel-group .panel, body .main-container .app-container .sidebar-menu .panel-group .panel {
            background-color: transparent;
            border: 0;
            margin-top: 10px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none; }
            html .main-container .app-container .sidebar-menu .panel-group .panel .panel-title, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-title {
              font-size: 1.1em; }
              html .main-container .app-container .sidebar-menu .panel-group .panel .panel-title .glyphicon, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-title .glyphicon {
                margin-right: 12px; }
            html .main-container .app-container .sidebar-menu .panel-group .panel .panel-body, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-body {
              border-top: 0;
              font-size: 0.9em;
              padding: 0 15px; }
              html .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list {
                list-style-type: none;
                padding-left: 28px; }
                html .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list .collection-nav-item, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list .collection-nav-item {
                  display: flex;
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  -webkit-justify-content: space-between;
                  -moz-justify-content: space-between;
                  justify-content: space-between;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  -webkit-align-items: center;
                  -moz-align-items: center;
                  align-items: center;
                  margin-bottom: 5px; }
                  html .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list .collection-nav-item p, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list .collection-nav-item p {
                    margin: 0; }
                  html .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list .collection-nav-item button.collection-settings-button, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list .collection-nav-item button.collection-settings-button {
                    border: 0px;
                    outline: 0px;
                    font-size: 1.3rem;
                    padding: 0;
                    background-color: transparent; }
                    html .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list .collection-nav-item button.collection-settings-button:hover, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-body ul.collection-list .collection-nav-item button.collection-settings-button:hover {
                      color: white; }
              html .main-container .app-container .sidebar-menu .panel-group .panel .panel-body .collection-menu, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-body .collection-menu {
                position: relative; }
                html .main-container .app-container .sidebar-menu .panel-group .panel .panel-body .collection-menu .dropdown-menu, body .main-container .app-container .sidebar-menu .panel-group .panel .panel-body .collection-menu .dropdown-menu {
                  top: 0;
                  left: 27px;
                  -webkit-border-radius: 0;
                  -moz-border-radius: 0;
                  -ms-border-radius: 0;
                  -o-border-radius: 0;
                  border-radius: 0; }
      html .main-container .app-container .app-content, body .main-container .app-container .app-content {
        background-color: #181818;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -moz-box-flex: 1;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        overflow-y: auto; }

/* END Home page styles */
body.background-login {
  background-image: url("../img/login-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-left: 10px;
  margin-left: -10px; }
  body.background-login .account-wall-container {
    width: 400px;
    padding: 70px 35px 50px;
    background-color: #303030;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
    body.background-login .account-wall-container h1 {
      color: #fff;
      font-size: 5rem; }
    body.background-login .account-wall-container a {
      color: #ffffff; }
    body.background-login .account-wall-container .profile-img {
      width: 90px;
      margin: 0 auto 10px;
      display: block; }
    body.background-login .account-wall-container .form-login {
      color: #696969;
      font-size: 12px;
      margin-top: 40px; }
      body.background-login .account-wall-container .form-login p {
        margin-top: 20px; }
      body.background-login .account-wall-container .form-login .left-icon-input {
        position: relative;
        background-color: #dedede;
        display: inline; }
      body.background-login .account-wall-container .form-login .left-icon-input:before {
        position: absolute;
        left: 8px;
        top: 23px;
        z-index: 1; }
      body.background-login .account-wall-container .form-login .left-icon-input-username:before {
        content: url("../img/icon-user.png"); }
      body.background-login .account-wall-container .form-login .left-icon-input-password:before {
        content: url("../img/icon-password.png"); }
      body.background-login .account-wall-container .form-login .form-input, body.background-login .account-wall-container .form-login .form-input:focus {
        border-style: none;
        background-color: #303030 !important;
        border-bottom: 1px solid #6f6f6f;
        margin: 10px 0px;
        outline: none;
        display: block;
        width: 100%;
        /*height: 34px;*/
        padding: 25px 0 15px 40px;
        font-size: 14px;
        color: #ffffff;
        background-color: #ffffff;
        background-image: none; }
      body.background-login .account-wall-container .form-login .btn-login {
        background-color: #67b5c2;
        color: #FFFFFF;
        width: 70%;
        height: 50px;
        margin: 40px auto;
        padding: 10px 16px;
        line-height: 1.3333333;
        border-radius: 0px;
        font-size: 1.5rem; }
      body.background-login .account-wall-container .form-login .form-login-footer {
        margin-top: 25px; }

.dashboard {
  padding: 35px; }
  .dashboard .app-content-wrapper .item {
    float: left;
    width: 484px; }
    @media screen and (max-width: 767px) {
      .dashboard .app-content-wrapper .item {
        width: 244px; } }
    .dashboard .app-content-wrapper .item .collection-container {
      cursor: pointer;
      float: left;
      margin: 2px;
      position: relative; }
      .dashboard .app-content-wrapper .item .collection-container .image-container {
        background-position: center center;
        background-size: cover; }
      .dashboard .app-content-wrapper .item .collection-container .item-count-container {
        background: rgba(97, 181, 194, 0.8) none repeat scroll 0 0;
        bottom: 0;
        color: #fff;
        display: inline-block;
        line-height: 31px;
        padding: 5px 13px;
        position: absolute;
        right: 0;
        text-align: center;
        z-index: 2; }
        @media screen and (max-width: 767px) {
          .dashboard .app-content-wrapper .item .collection-container .item-count-container {
            padding: 0 8px; } }
        .dashboard .app-content-wrapper .item .collection-container .item-count-container > span {
          float: left; }
        .dashboard .app-content-wrapper .item .collection-container .item-count-container .item-count {
          display: none;
          font-size: 13px; }
      .dashboard .app-content-wrapper .item .collection-container .overlay {
        color: #fff;
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
        .dashboard .app-content-wrapper .item .collection-container .overlay h3 {
          font-family: Open Sans;
          font-style: italic;
          font-weight: 700; }
    .dashboard .app-content-wrapper .item .collection-container:hover .item-count-container .plus-sign {
      margin-right: 18px; }
    .dashboard .app-content-wrapper .item .collection-container:hover .item-count-container .item-count {
      display: inline; }
    .dashboard .app-content-wrapper .item .collection-container:hover .overlay {
      display: block; }
    .dashboard .app-content-wrapper .item .collection-container-small .image-container {
      height: 172px;
      width: 238px; }
    .dashboard .app-content-wrapper .item .collection-container-small .item-count-container {
      font-size: 20px; }
    .dashboard .app-content-wrapper .item .collection-container-small .overlay.bg-1 {
      background: rgba(99, 166, 176, 0.7) none repeat scroll 0 0; }
    .dashboard .app-content-wrapper .item .collection-container-small .overlay.bg-2 {
      background: rgba(78, 114, 121, 0.7) none repeat scroll 0 0; }
    .dashboard .app-content-wrapper .item .collection-container-big .image-container {
      height: 353px;
      width: 480px; }
    .dashboard .app-content-wrapper .item .collection-container-big .item-count-container {
      font-size: 42px; }
    .dashboard .app-content-wrapper .item .collection-container-big .overlay.bg-1 {
      background: rgba(255, 174, 62, 0.7) none repeat scroll 0 0; }
    .dashboard .app-content-wrapper .item .collection-container-big .overlay.bg-2 {
      background: rgba(140, 128, 105, 0.7) none repeat scroll 0 0; }
    .dashboard .app-content-wrapper .item .collection-container-small:hover .overlay h3 {
      font-size: 30px;
      margin: 20px 24px; }
      @media screen and (max-width: 767px) {
        .dashboard .app-content-wrapper .item .collection-container-small:hover .overlay h3 {
          font-size: 13px;
          margin: 5px; } }
    .dashboard .app-content-wrapper .item .collection-container-big:hover .overlay h3 {
      font-size: 68px;
      margin: 20px 24px; }
      @media screen and (max-width: 767px) {
        .dashboard .app-content-wrapper .item .collection-container-big:hover .overlay h3 {
          font-size: 30px;
          margin: 5px; } }
    .dashboard .app-content-wrapper .item a {
      display: block; }
    .dashboard .app-content-wrapper .item .first {
      background: #ffc73b none repeat scroll 0 0;
      display: block;
      height: 172px;
      padding: 30px 23px;
      width: 238px; }
      .dashboard .app-content-wrapper .item .first a {
        color: #303030;
        text-decoration: none; }
      .dashboard .app-content-wrapper .item .first h3 {
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 700;
        margin: 0; }
      @media screen and (max-width: 767px) {
        .dashboard .app-content-wrapper .item .first .item-count-container .plus-sign {
          display: none; } }
    @media screen and (max-width: 767px) {
      .dashboard .app-content-wrapper .item .collection-container-small .image-container {
        height: 86px;
        width: 118px; }
      .dashboard .app-content-wrapper .item .collection-container-big .image-container {
        height: 177px;
        width: 240px; }
      .dashboard .app-content-wrapper .item .first {
        height: 86px;
        padding: 25px 10px 10px;
        width: 118px; }
        .dashboard .app-content-wrapper .item .first p {
          display: none; }
        .dashboard .app-content-wrapper .item .first h3 {
          font-size: 15px; } }

.collection {
  padding: 35px; }
  .collection .app-content-wrapper .filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .collection .app-content-wrapper .filter-container > div {
      padding: 0 5px; }
      @media screen and (max-width: 1199px) {
        .collection .app-content-wrapper .filter-container > div {
          float: none; } }
    .collection .app-content-wrapper .filter-container .info h3 {
      color: #fff;
      font-family: Open Sans;
      font-size: 32px;
      font-style: italic;
      font-weight: 700; }
    .collection .app-content-wrapper .filter-container .info .items-count {
      color: #565656;
      font-size: 14px;
      font-style: italic; }
    .collection .app-content-wrapper .filter-container .filters {
      line-height: 60px; }
      .collection .app-content-wrapper .filter-container .filters .text {
        color: #484848; }
      .collection .app-content-wrapper .filter-container .filters .order {
        border: 1px solid #eee;
        border-radius: 25px;
        padding: 4px 5px; }
        .collection .app-content-wrapper .filter-container .filters .order .btn {
          border-radius: 25px !important;
          line-height: 16px; }
        .collection .app-content-wrapper .filter-container .filters .order .btn.active {
          background: #ffffff;
          color: #181818; }
        .collection .app-content-wrapper .filter-container .filters .order .btn.focus:not(.active), .collection .app-content-wrapper .filter-container .filters .order .btn:not(.active):focus, .collection .app-content-wrapper .filter-container .filters .order .btn:not(.active):hover {
          color: #fff; }
      .collection .app-content-wrapper .filter-container .filters .sort {
        display: inline-block;
        padding: 5px;
        position: relative;
        vertical-align: middle; }
        .collection .app-content-wrapper .filter-container .filters .sort > span {
          margin-right: 5px; }
        .collection .app-content-wrapper .filter-container .filters .sort .group {
          border: 1px solid;
          border-radius: 25px;
          display: inline-block;
          height: 40px;
          line-height: 38px; }
          .collection .app-content-wrapper .filter-container .filters .sort .group .arrow-left {
            border-bottom: 7px solid transparent;
            border-right: 7px solid #d1d1d1;
            border-top: 7px solid transparent;
            height: 0;
            padding: 0 8px;
            width: 0; }
          .collection .app-content-wrapper .filter-container .filters .sort .group .arrow-right {
            border-bottom: 7px solid transparent;
            border-left: 7px solid #d1d1d1;
            border-top: 7px solid transparent;
            height: 0;
            padding: 0 8px;
            width: 0; }
          .collection .app-content-wrapper .filter-container .filters .sort .group .by {
            display: inline-block;
            text-align: center; }
      .collection .app-content-wrapper .filter-container .filters .sort.date {
        margin-right: 17px; }
        .collection .app-content-wrapper .filter-container .filters .sort.date .by {
          width: 150px; }
        .collection .app-content-wrapper .filter-container .filters .sort.date .group {
          width: 208px; }
      .collection .app-content-wrapper .filter-container .filters .sort.page {
        margin-right: 13px; }
        .collection .app-content-wrapper .filter-container .filters .sort.page .by {
          width: 50px; }
      .collection .app-content-wrapper .filter-container .filters .thumb-sort {
        display: inline-block;
        margin-right: 30px; }
        .collection .app-content-wrapper .filter-container .filters .thumb-sort img {
          cursor: pointer;
          filter: brightness(60%);
          padding: 0 5px; }
        .collection .app-content-wrapper .filter-container .filters .thumb-sort img.active {
          filter: brightness(100%); }
  .collection .app-content-wrapper .assets-container .asset {
    float: left;
    height: 172px;
    margin: 2px;
    position: relative; }
    .collection .app-content-wrapper .assets-container .asset img {
      max-height: 100%;
      max-width: 100%; }
    .collection .app-content-wrapper .assets-container .asset .options {
      background: #61b5c2 none repeat scroll 0 0;
      bottom: 0;
      padding: 7px 8px;
      position: absolute;
      right: 0;
      z-index: 2; }
      .collection .app-content-wrapper .assets-container .asset .options .controls {
        display: none; }
        .collection .app-content-wrapper .assets-container .asset .options .controls a {
          float: left;
          margin-right: 5px; }
          .collection .app-content-wrapper .assets-container .asset .options .controls a:hover {
            text-decoration: none; }
          .collection .app-content-wrapper .assets-container .asset .options .controls a:last-of-type {
            margin-right: 0; }
          .collection .app-content-wrapper .assets-container .asset .options .controls a img {
            display: block; }
    .collection .app-content-wrapper .assets-container .asset .overlay {
      background: rgba(97, 181, 194, 0.6) none repeat scroll 0 0;
      display: none;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      width: 100%; }
      .collection .app-content-wrapper .assets-container .asset .overlay h3 {
        font-family: Open Sans;
        font-size: 1.5vw;
        font-style: italic;
        font-weight: 700;
        margin: 15px; }
    .collection .app-content-wrapper .assets-container .asset:hover .overlay {
      display: block; }
    .collection .app-content-wrapper .assets-container .asset:hover .controls {
      display: block; }
    .collection .app-content-wrapper .assets-container .asset:hover .plus-sign {
      display: none; }

/* General styles */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #181818;
  overflow: hidden; }

#side-nav-toggle {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  padding: 10px 20px 15px 0px; }
  #side-nav-toggle span, #side-nav-toggle span:before, #side-nav-toggle span:after {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    height: 2px;
    width: 20px;
    background: #d6d6d6;
    position: absolute;
    display: block;
    content: ''; }
  #side-nav-toggle span:before {
    top: -7px; }
  #side-nav-toggle span:after {
    bottom: -7px; }
  #side-nav-toggle.active span {
    background-color: transparent; }
    #side-nav-toggle.active span:before, #side-nav-toggle.active span:after {
      top: 0; }
    #side-nav-toggle.active span:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    #side-nav-toggle.active span:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

/* END General styles */
